:root {
  --primary: #e99401;
  --black: #262626;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
.contenedor, 
main {
  width: min(95%, 120rem);
  margin: 3rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

/* Header - Start */
.header {
  background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(/img/header.jpg);
  padding: 6rem 0;
}

.header .barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 768px) {
  .header .barra {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header .logo {
  width: 25rem;
  background-position: top;
  background-size: cover;
}

@media(min-width:768px) {
  .header .logo {
    width: 40rem;
  }
}

.header .navegacion {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media(min-width: 768px){
  .header .navegacion {
    flex-direction: row;
    margin-top: 1rem;
  }
}

.header .navegacion a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem;
  text-align: center;
}

.header .navegacion a:hover,
.header .active{
  background: var(--primary);
  transition: 300ms;
}

/*Header - End */

/*Footer - Start*/
.footer {
  background-color: var(--black);
  padding: 5rem 0;
}

.footer .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 768px) {
 .footer .contenido {
   flex-direction: row;
   justify-content: space-between;
 }
}

.footer .navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

@media(min-width: 768px) {
  .footer .navegacion {
    flex-direction: row;
    margin-top: 0;
  }
}

.footer .contenido .navegacion a,
.copyright{
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

.copyright{
  text-align: center;
}

/*Footer - End*/